<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Sarmad"  connectionString="Data Source=sarmii99\sqlexpress;Initial Catalog=VakantiePark;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"/>
	</connectionStrings>
	<appSettings>
		<add key="user" value="Sarmad"/>
	</appSettings>
</configuration>